{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <br>
    <div class="container">
        <h1 class="center">let's create a group!</h1>
        <h3 class="center">Once created, you can rename and edit your members later.</h3>
        <h3>You are the group admin: {{ current_user.username }}</h3>
        <br>
        <form action="" method="POST">
            <div class="input-field">
                <input placeholder="Enter your group name" name="groupname" id="group_name" type="text" class="validate" required>
                <label for="group_name">Group Name</label>
            </div>
            <p>
                <p>Choose your group icon.</p>
                <label>
                  <input name="icon" type="radio" id="1" value="1"> </input>
                  <span><img class="activator" src="../../static/img/travapotami6.png" width=30%></span>
                </label>
              </p>
              <p>
                <label>
                  <input name="icon" type="radio" id="2" value="2"> </input>
                  <span><img class="activator" src="../../static/img/potami3.png" width=15%></span>
                </label>
              </p>
              <p>
                <label>
                  <input name="icon" type="radio" id="3" value="3"> </input>
                  <span><img class="activator" src="../../static/img/potami2.jpg" width=15%></span>
                </label>
              </p>

            <div class="input-field col s12">
                <textarea id="group-description" name="group-description" class="materialize-textarea" class="validate" required></textarea>
                <label for="group-description">Group Description</label>
            </div>
            <!-- Switch -->
            <p>If your group is public, anyone can join your group.</p>
            <div class="switch">
                <label>
                Private
                <input class="input-field" type="checkbox" name="accessibility">
                <span class="lever"></span>
                Public
                </label>
            </div>

            <p>Enter your group mates' username(s)</p>
            <div id="members">
                <div class="input-field row" id="div_1">
                    <input id="member_1" class="col s8" type="text" name="member_1" class="validate">
                    <label for="Member">Member</label>
                    <a onclick="removeMem(this)" class="btn-floating waves-effect waves-light"><i class="material-icons">delete</i></a>
                </div>
            </div>
            <a id="add-btn" class="btn-floating waves-effect waves-light"><i class="material-icons">add</i></a>
            <p>    </p>
            <div id="result"></div>
            <button class="btn waves-effect waves-light" type="submit">Create Group
                <i class="material-icons right">send</i>
            </button>
            
        </form>
        <br>
    </div>
    <br>
</div>

<script>
     function removeMem(button) {
         $(button).parent().remove()
     }



    $(document).ready(function() {
        var inputs = 1;
        $("#1").on('click', function() {
            $("#div_1").remove()
        })
        $("#add-btn").on('click', function() {
            inputs++;
            $("#members").append(`
                <div class="input-field row" id="div_${inputs}">
                    <input id="member_${inputs}" class="col s8" type="text" name="member_${inputs}"  class="validate">
                    <label for="Member">Member</label>
                    <a onclick="removeMem(this)" class="btn-floating waves-effect waves-light"><i class="material-icons">delete</i></a>
                </div>`);
        });

    });

    $(document).ready(function(){
        $('select').formSelect();
    });

</script>

{% endblock content %}
