{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <h1>About Group {{ group.group_name }}</h1>
    <div class="container center">
        <h3> {{ group.description }} </h3> 

        {% if group.icon == 1 %}
            <img class="responsive-img" src="../../static/img/travapotami6.png" width=30%>
        {% elif group.icon == 2 %}
            <img class="responsive-img" src="../../static/img/potami3.png"  width=15%>
        {% elif group.icon == 3 %}
            <img class="responsive-img" src="../../static/img/potami2.jpg" width=15%>
        {% endif %}

        <table class="highlight centered">
            <tr>
                <th>Number of Members</th>
                <td>{{ group.mates|length+1 }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>
                    <a href="{{ url_for('auth_blueprint.display_account', username=group.admins[0].username) }}">
                    {{ group.admins[0].username }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Mates</th>
                <td>
                    <table>
                        {%for i in range(0, group.mates|length)%}
                        <tr>
                            <td>
                                <a href="{{ url_for('auth_blueprint.display_account', username=group.mates[i].username) }}">
                                    {{ group.mates[i].username }}
                                </a>
                            </td>
                        </tr>
                        {%endfor%}
                    </table>

                </td>
        </table>
    
        <br>

        <h3> Group Trips </h3>
        {% if group.trips|length %}
        <p></p>
        {% else %}
        <p> There are no group trips created yet. </p>
        {% endif %}
        {% for trip in group.trips %}
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://lipis.github.io/flag-icon-css/flags/4x3/{{trip.destination.lower()}}.svg" width="200" height="200" style="margin:40px 0px 0px 0px">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{trip.country}}<i class="material-icons right">more_vert</i></span>
                    <a href="{{url_for('trips_blueprint.display_trip', tripid=trip.id)}}">
                    <p>Check out your trip to {{trip.country}} on {{trip.date_from}}</p>
                    </div>
                    </a>
                    <div class="card-reveal teal lighten-5">
                    <span class="card-title grey-text text-darken-4">{{trip.country}} Trip<i class="material-icons right">close</i></span>
                    <p>{{ trip.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        
        

        <div class="container center">
        <br>
        {% if is_admin == True %}
        <p>To add new member(s), please press edit group.</p>

        <div class="btn waves-effect waves-light">
            <a style="color:white" href="{{  url_for('trips_blueprint.create_group_trip', group=group)  }}">Create Group Trip</a>
            <i class="material-icons right">add</i>
        </div>

        <div class="btn waves-effect waves-light">
            <a style="color:white" href="{{  url_for('group_blueprint.edit_group', group=group)  }}">Edit Group Details</a>
            <i class="material-icons right">edit</i>
        </div>

        <div class="btn waves-effect waves-light">
            <a style="color:white" href="{{  url_for('group_blueprint.delete_group', group=group)  }}">Delete Group</a>
            <i class="material-icons right">delete</i>
        </div>
        {%endif%}

        {% if is_admin == False and is_mate== True %}
        <div class="btn waves-effect waves-light">
            <a style="color:white" href="{{  url_for('group_blueprint.leave_group', group=group)  }}">Leave Group</a>
            <i class="material-icons right">exit_to_app</i>
        </div>
        {%endif%}

        {% if is_admin == False and is_mate== False %}
        <div class="btn waves-effect waves-light">
            <a style="color:white" href="{{  url_for('group_blueprint.join_group', groupnum=group)  }}">Join Group</a>
            <i class="material-icons right">exit_to_app</i>
        </div>
        {%endif%}
    
</div>
<br>
</div>

<script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>

{% endblock content %}