{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Check out all your past, current and upcoming trips.</h3>
    <ul class="collection">
        <li class="collection-item avatar">
        <img src="../../static/img/492683.jpg" alt="" class="circle">
        <span class="title">Trip Name</span>
        <p>Group Name<br>
            Date
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">info_outline</i></a>
        </li>
        <li class="collection-item avatar">
        <i class="material-icons circle teal">beach_access</i>
        <span class="title">Trip Name</span>
        <p>Group Name<br>
            Date
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">info_outline</i></a>
        </li>
        <li class="collection-item avatar">
        <i class="material-icons circle teal">face</i>
        <span class="title">Trip Name</span>
        <p>Group Name<br>
            Date
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">info_outline</i></a>
        </li>
        <li class="collection-item avatar">
        <i class="material-icons circle teal">play_arrow</i>
        <span class="title">Trip Name</span>
        <p>Group Name<br>
            Date
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">info_outline</i></a>
        </li>
    </ul>
</div>
{% endblock content %}