{% extends "base.html" %}
{% block content %}

<div class="container">
    <br>
    <h1> {{ current_user.username }}'s Groups</h1>
    <h3>Take a look at all the groups you are in!</h3>
    <p>Click on the <i class="material-icons tiny">info_outline</i> button for more description.</p>
    <ul class="collection">
        {% for i in range(0, result|length) %}
            <li class="collection-item avatar">
            <i class="material-icons circle teal">face</i>
            <span class="title"  style="font-weight:bold">
                <a href="{{  url_for('group_blueprint.group_info', group=result[i])  }}" >
                {{ result[i].group_name }}
                </a>
            </span>
            <p>
                Group Description: {{ result[i].description }}
                <br>
                {%if result[i].public==True%}
                Public Group
                {%endif%}

                {%if result[i].public==False%}
                Private Group
                {%endif%}
                <br>
                Group Admin: {{ result[i].admins[0].username }}
                <br>
            <p>
                Number of Members: {{ result[i].mates|length+1 }} 
            </p>
            <a href="{{  url_for('group_blueprint.group_info', group=result[i])  }}" class="secondary-content"><i class="material-icons">info_outline</i></a>
            </li>
        {%endfor%}
        
    </ul>
</div>
{% endblock content %}