{%extends "base.html"%}

{%block content%}
<div class="container">
    <h2 class="center">Your trip to {{destination}}!</h2>
</div>
<div class="container center">
    <img src="https://lipis.github.io/flag-icon-css/flags/4x3/{{imagecode}}.svg" style="width:30%;">

</div>
<br>
<div class="container">
    <table class="highlight centered" >
            <th>Destination</th>
            <td>{{destination}}</td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td>{{trip.date_from}}</td>
        </tr>
        <tr>
            <th>End Date</th>
            <td>{{trip.date_to}}</td>
        </tr>
        <tr>
            <th>Maximum Budget</th>
            <td>{{trip.budget_max}} USD</td>
        </tr>
        <tr>
            <th>Trip Type</th>
            <td>{{trip.trip_type}}</td>
        </tr>
        <tr>
            <th>Trip Description</th>
            <td>{{trip.description}}</td>
        </tr>
        <tr>
            <th>
                Hosts 
                {%if user in trip.hosts%}
                <a class="btn-small" href="{{ url_for('trips_blueprint.add_host', tripid=trip.id) }}">Add</a>
                {%endif%}
            </th>
            <td>
                <table>
                    {%for x in trip.hosts%}
                    <tr>
                        <td>
                            <a href="{{ url_for('auth_blueprint.display_account', username=x.username) }}">
                                {{x.first_name + " " + x.last_name}}
                            </a>
                        </td>
                        {%if user in trip.hosts and num_of_hosts > 1%}
                            <td>
                                <a class="btn-small" href="{{ url_for('trips_blueprint.remove_host', tripid=trip.id, userid=x.id) }}">Remove</a>
                            </td>
                        {%endif%}
                        <br>
                    </tr>
                    {%endfor%}
                    </table>
            </td>
        </tr>
        
            <tr>
                <th>
                    Participants 
                    {%if user in trip.hosts%}
                    <a class="btn-small" href="{{ url_for('trips_blueprint.add_participant', tripid=trip.id) }}">Add</a>
                    {%endif%}
                </th>
                {%if trip.participants%}
                <td>
                    <table>
                    {%for x in trip.participants%}
                    <tr>
                        <td>
                            <a href="{{ url_for('auth_blueprint.display_account', username=x.username) }}">
                                {{x.first_name + " " + x.last_name}}
                            </a>
                        </td>
                        {%if user in trip.hosts%}
                            <td>
                                <a class="btn-small" href="{{ url_for('trips_blueprint.remove_participant', tripid=trip.id, userid=x.id) }}">Remove</a>
                            </td>
                        {%endif%}
                        <br>
                    </tr>
                    {%endfor%}
                    </table>
                </td>
                {%endif%}
            </tr>
        <tr>
    </table>
    <br>
    {%if user in trip.hosts%}

        <a href="{{url_for('trips_blueprint.edit_trip',tripid=trip.id)}}" class="col s4 btn-large tooltipped" ">Edit Trip</a>
        <a href="{{url_for('trips_blueprint.requests_manager',tripid=trip.id)}}" class="col s4 btn-large tooltipped" ">Approve/Reject Requests</a>
    {%endif%}
    {%if user not in trip.hosts and user not in trip.participants%}
        <a href="{{url_for('trips_blueprint.join_trip',tripid=trip.id)}}" class="col s4 btn-large tooltipped" ">Request to Join</a>
        
    {%endif%}
    <br>
    <br>
</div>
{%endblock%}
