{%extends "base.html"%}

{%block content%}
<div class="container">
    <h2 class="center">Your trip to {{result['destination']}}!</h2>
</div>
<div class="container center">
    <img src="https://lipis.github.io/flag-icon-css/flags/4x3/{{result['imagecode']}}.svg" style="width:30%;">

</div>
<br>
<div class="container">
    <table class="highlight centered" >
        <tr>
            <th>Hosts</th>
            {%for x in result['hosts']%}
                <td>{{x}}</td>
            {%endfor%}
        </tr>
        {%if result['participants']%}
            <tr>
                <th>Participants</th>
                {%for x in result['participants']%}
                    <td>{{x}}</td>
                {%endfor%}
            </tr>
        {%endif%}
        <tr>
            <th>Destination</th>
            <td>{{result['destination']}}</td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td>{{result['date_from']}}</td>
        </tr>
        <tr>
            <th>End Date</th>
            <td>{{result['date_to']}}</td>
        </tr>
        <tr>
            <th>Maximum Budget</th>
            <td>{{result['budget_max']}}</td>
        </tr>
        <tr>
            <th>Trip Type</th>
            <td>{{result['trip_type']}}</td>
        </tr>
        <tr>
            <th>Trip Description</th>
            <td>{{result['description']}}</td>
        </tr>
    </table>
    <br>
    {%if result['user'] is in result['hostusername']%}

        <a href="{{url_for('trips_blueprint.edit_trip',tripid=result['tripid'])}}" class="col s4 btn-large tooltipped" ">Edit Trip</a>
        <a href="{{url_for('trips_blueprint.requests_manager',tripid=result['tripid'])}}" class="col s4 btn-large tooltipped" ">Approve/Reject Requests</a>

    {%endif%}
    {%if result['user'] is  not in result['hostusername'] and result['user'] is  not in result['participant']%}

        <a href="{{url_for('trips_blueprint.join_trip',tripid=result['tripid'])}}" class="col s4 btn-large tooltipped" ">Request to Join</a>

    {%endif%}
    <br>

</div>


{%endblock%}
