{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <br>
    <h1 class="container">{{ user.username }}'s Profile</h1>
    <br>
    <div class="container">
        {% if image %}
            <img style="display: block;
  margin-left: auto;
  margin-right: auto;"class="responsive-img" src="data:;base64,{{ image }}" height=200 width=200 />
        {% endif %}
        <table class="responsive-table">
            <tr>
                <th>First name</th>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ gender }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ user.birthday }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
        </table>
        <br>
        <h2>User Ratings</h2>
        <table class="responsive-table">
            <tr>
                <th>Friendliness</th>
                <td>{{ user.rating.friendliness }}</td>
            </tr>
            <tr>
                <th>Cleanliness</th>
                <td>{{ user.rating.cleanliness }}</td>
            </tr>
            <tr>
                <th>Timeliness</th>
                <td>{{ user.rating.timeliness }}</td>
            </tr>
            <tr>
                <th>Foodies</th>
                <td>{{ user.rating.foodies }}</td>
            </tr>
        </table>
        <br>
        {% if is_current %}

        <div class="container">
            <div class="btn waves-effect waves-light">
                <a style="color:white" href="{{  url_for('auth_blueprint.edit_account')  }}">Edit Account</a>
                <i class="material-icons right">edit</i>
            </div>
            <div class="btn waves-effect waves-light">
                <a style="color:white" href="{{  url_for('auth_blueprint.update_photo')  }}">Upload New Photo</a>
                <i class="material-icons right">insert_photo</i>
            </div>
        </div>
        <br>
        {% elif current_user.is_authenticated %}
        <div class="container">
            <div class="btn waves-effect waves-light">
                <a style="color:white" href="{{  url_for('auth_blueprint.rate_user', username=user.username)  }}">Rate this User</a>
            </div>
        </div>
        <br>
        {% endif %}
    </div>

</div>
{% endblock content %}
