{% extends "base.html" %}
{% block content %}

<div class="content-section">
    <div class='container'>
        <h2>Forget Password</h2>
        <form method="POST", action="">
            <div class="input-field ">
                {{form.email}}
                <label>{{form.email.label}}</label>
            </div>

            <div class="input-field ">
                {{form.passport_number}}
                <label>{{form.passport_number.label}}</label>
            </div>
            <div class="btn waves-effect waves-light">
                {{form.submit()}}
            </div>

        </form>
    </div>
</div>

{% endblock content %}