{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <div class="container">
        <h2>Login</h2>
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="input-field ">
                {{form.username}}
                <label >{{form.username.label}}</label>
            </div>
            <div class="input-field ">
                {{form.password}}
                <label>{{form.password.label}}</label>
            </div>
            <div class="btn waves-effect waves-light">
                {{form.submit()}}
            </div>
        </form>
        <h4><a href="{{ url_for('auth_blueprint.forgetpassword') }}">Forgot Password</a></h4>
    </div>
    
</div>
{% endblock content %}