{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <br>
    <h1 class="container">Resetting {{ username }}'s password</h1>
    <br>
    <form action="" method="POST" class="container">
        {{ form.csrf_token }}
        <div class="input-field">
            {{ form.password }}
            <label>{{ form.password.label }}</label>
        </div>
        <div class="input-field">
            {{ form.confirm_password }}
            <label>{{ form.confirm_password.label }}</label>
        </div>
        <div class="btn waves-effect waves-light">
            {{ form.submit() }}
            <i class="material-icons right">send</i>
        </div>
        <div class="btn waves-effect waves-light">
            <a style="color: black" href="{{  url_for('auth_blueprint.login')  }}">Don't Change. I suddenly remebered my password
                <i style="color: white" class="material-icons right">cancel</i>
            </a>
        </div>
    </form>
    <br>

</div>
<br>
</div>
{% endblock content %}