{% extends "base.html" %}
{% block content %}
<div class="content-section">
        <br>
        <form action="" method="POST" class="container">
            {{ form.csrf_token }}
            <div class="input-field">
                {{ form.username }}
                <label>{{ form.username.label }}</label>
            </div>
            <div class="btn waves-effect waves-light">
                {{form.submit()}}
                <i class="material-icons right">send</i>
            </div>
        </form>
        <br>

    </div>
    <br>
</div>
{% endblock content %}