<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% if title %}
        <title>Travapotami - {{ title }}</title>
    {% else %}
        <title>Travapotami</title>
    {% endif %}
</head>
<body>

    <nav class="teal nav_extended">
        <div class="nav-wrapper">
            <a href="{{ url_for('main_blueprint.home') }}" class="brand-logo center">
            <img src="{{ url_for('static', filename='img/travapotami6.png') }}" width="128" height="64"> T R A V A P O T A M I </a>

            <ul class="right">
                <li>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                      </div>
                </li>
                <li>
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">notifications</i></a>
                </li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth_blueprint.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth_blueprint.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth_blueprint.register') }}">Register</a></li>
                {% endif %}
              </ul>
        </div>

        <div class="teal nav-content">
            <ul class="tabs tabs-transparent tabs-fixed-width">
                <li class="tab"><a href="{{  url_for('trips_blueprint.choose_trip')  }}">trips</a></li>
                <li class="tab"><a href="{{  url_for('auth_blueprint.search_users')  }}">find friends</a></li>
                <li class="tab"><a href="{{  url_for('group_blueprint.choose_group')  }}">groups</a></li>
                {% if current_user.is_authenticated %}
                    <li class="tab"><a href="{{  url_for('auth_blueprint.display_account', username=current_user.username)  }}">my profile</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
        <br>
        <br>
        {% block content %}{% endblock content%}

    </main>
    <footer class="page-footer teal">
        <ul class="tabs tabs-transparent tabs-fixed-width, center">
            <li>The Chinese University of Hong Kong</li>
        </ul>
    </footer>

     <!--Don't delete the scrip below cause without it some functions dont work -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Message flashing by using flash(message)-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <script>
                        var msg = '{{ message }}'
                        M.toast({ html: msg });
                    </script>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>

</html>
