<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    {% if title %}
        <title>Travapotami - {{ title }}</title>
    {% else %}
        <title>Travapotami</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="teal">
            <a href="#" class="brand-logo">Travapotami</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content%}
    </main>
    <footer class="page-footer teal">
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>