{% extends "base.html" %}
{% block content %}
<body bgcolor=#ffe3c0>
    <style>
        .slideshow-container {
          position: relative;
          margin: auto;
        }
        .fade {
          animation-name: fade;
          animation-duration: 3s;
        }
        @keyframes fade {
          from {opacity: .5} 
          to {opacity: 1}
        }
        .centered {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Liu Jian Mao Cao', cursive;
            font-size: 64px;
            text-align: center;
            text-shadow: 2px 2px 2px rgba(114, 153, 153, 0.692);
        }
    </style>


    <div class="slider" >
        <ul class="slides">
        <li>
            <img src="../static/img/492683.jpg"> 
            <div class="caption right-align teal-text text-darken-3">
            <h5>Let's Explore</h5>
            <h2 class="teal-text text-darken-3">Reynisfjara Beach, Iceland</h2>
            </div>
        </li>
        <li>
            <img src="../static/img/492681.jpg"> 
            <div class="caption center-align teal-text text-darken-3">
            <h5>Let's Explore</h5>
            <h2 class="teal-text text-darken-3">Ville-Marie, Montreal</h2>
            </div>
        </li>
        <li>
            <img src="../static/img/492682.jpg">
            <div class="caption left-align">
            <h5>Let's Explore</h5>
            <h2 class="grey-text text-lighten-3">Cave and Basin National Historic Site, Alberta</h2>
            </div>
        </li>
        <li>
            <img src="../static/img/492794.jpg"> 
            <div class="caption center-align">
            <h5>Let's Explore</h5>
            <h2 class="grey-text text-lighten-3">Parc Omega, Quebec</h2>
            </div>
        </li>
        <li>
            <img src="../static/img/492679.jpg"> 
            <div class="caption left-align">
            <h5>Let's Explore</h5>
            <h2 class="grey-text text-lighten-3">Cienfuegos, Cuba</h2>
            </div>
        </li>
        </ul>
    </div>

    <br>

    <div class="container center">
        <h2> WELCOME TO TRAVOPOTAMI </h2>
        <h3> Learn a little more about us by clicking on the questions below!</h3>
        
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header"><i class="material-icons">question_answer</i>Wonder what TRAVAPOTAMI means?</div>
                <div class="collapsible-body">
                    <span>
                        TRAVEL + HIPPOPOTAMI = TRAVAPOTAMI
                        <br>
                        Travapotami comes from a combination of 2 words: Travel and Hippopotami. 
                        (Why Hippopotami? Press on the next question for the answer.) 
                        "Travapotami" is a web application designed for users who wish to find travel
                        companions that share similar interests and personality traits.
                        Whether it is a trip to a local natural heritage site or a trip to the other side of the world
                        “Travapotami” covers all kinds of trips. Anyone can either create or join a trip, the hosts of the
                        trips are required to write a detailed description of the entire trip including information such as
                        destination, budget, length and type of trip.
                    </span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">nature_people</i>What inspires chosen animal?</div>
                <div class="collapsible-body">
                    <span>
                        <img class="responsive-img" src="../static/img/travapotami2-removebg.png" width=25%>
                        <br>
                        The lucky animal we chose as our web ambassador is Hippopotamus, where the biggest reason being hippopotami live in groups of 15 or more animals.
                        As a travelling web app, we believe meeting and travelling with group of campanions add memories and laughter to your journey.
                        <br>
                        <br>
                        DID YOU KNOW?
                        <br>
                        Despite its stocky shape and short legs, it can easily outrun most humans. 
                        Hippos have been clocked at 30 km/h over short distances.
                    </span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">directions_run</i>Who are we?</div>
                <div class="collapsible-body">
                    <span>
                        Dear readers, 
                        <br>
                        That is quite a tough question there, we're still figuring out ourselves :P (J/k!) 
                        We are a group of univeristy students passionate in travelling. We aim to construct a platform 
                        where people that may or may not know each other but have common interests can interact 
                        and conjunctively create a trip with the least possible complications. 
                        <br>
                        We are aware that there are still a lot of places for improvements. 
                        Feel free to drop us an email on any commments about this web app at xxxxx@gmail.com 
                        We're happy to recieve your feedback!
                        <br>
                        Kind regards, 
                        <br>
                        The Four Hippotami 
                    </span></div>
            </li>
          </ul>
        
    </div>
</body>

<script>
    $(document).ready(function(){
        $('.slider').slider({
            height : 800,
            interval: 5000
        });
    });

    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>
{% endblock content %}