
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:	#ffe3c0;
  }

main {
    flex: 1 0 auto;
}

h1 {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 56px;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa
}

h2 {
    font-family: 'Baloo Da 2', cursive;
    font-size: 36px;
}

h3 {
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
}

h4 { 
    font-family: 'Baloo Da 2', cursive;
    font-size: 14px;
}
