
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:	#ffe3c0;
  }

main {
    flex: 1 0 auto;
}

h1 {
    font-family: 'Liu Jian Mao Cao', cursive;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}